body {
    background: rgb(5, 0, 5);
    color: white;
    margin: 40px;
    font-family: monserrat, sans-serif;
    margin: 20px;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-self: center;
    background-color: rgb(0, 0, 0);
    font-size: 24px;
    height: 100px 200px;
    top: 3%;
    width: 95%;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px rgb(65, 0, 56);
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, linear-gradient(to right, #b10076, #111111 90%, #970477) border-box;
    margin: auto;
}
.navbar a {
    text-decoration: none;
    color: white;
}
.navbar i {
    text-decoration: none;
    color: rgb(255, 0, 221);
}
.botones {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
}
.logo img {
    display: flex;
    gap: 20px;
    align-items: left;
    align-self: left;
    height: 10vh;
    width: auto;
}
.logo {
    display: flex;
    gap: 20px;
    align-items: left;
    align-self: left;
    position: relative;
    left: 2%;
    top: 0%;
}
.logo-text p{
    gap: 0px;
    margin: 0px;
    transform: translateY(50%);
    color: rgb(255, 0, 212);
}
.logo-text h2 {
    gap: 0px;
    margin: 0px;
    transform: translateY(50%);
    color: white;
}
.Unirse a {
    background: linear-gradient(to bottom right, rgb(202, 15, 162), rgb(117, 0, 92));
    border: 1px solid rgb(177, 146, 173);
    padding: 10px;
    border-radius: 10px;
    width: 10%;
    text-align: center;
    justify-content: center;
    justify-self: right;
    position: relative;
    flex-shrink: 0;
    right: 5%;
    top: 25%;
    margin: 50px;
}
.Unirse i {
    color: white;
}
@media (max-width: 1000px) {
    .navbar {
        justify-content: center;
        height: 50px;
        font-size: 3.5vw;
    }
    .logo {
        display: none;
    }
    .logo-text {
        display: none;
    }
    .Unirse {
        display: none;
    }
    .botones {
        font-size: 15px;
        gap: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
}